<style type="text/css">
    
/**
* Carousel with a single image per view
**/
#carousel-single-image {
    width: 400px;
    height: 400px;
    margin: 0 auto;         
    background: #242021;
    top: 25px;
}
#carousel-single-image .touchcarousel-container {
    height: 100%;
    background: url(img/wood-pattern.jpg) repeat;
}
#carousel-single-image .touchcarousel-item {
    margin-right: 0;
    width: 400px;
    height: 400px;
}
#carousel-single-image img {
    width: 300px;
    height: 300px;
    margin: 47px 0 0 47px;  
    
    float:left;
    position: relative;
    display: block;
    padding: 3px;
    background: #FFF;
    border: 0;
    
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 1px 6px rgba(0,0,0,0.6);
    box-shadow: 0 1px 6px rgba(0,0,0,0.6);
}
#carousel-single-image .tc-paging-container {
    margin-top: -29px;
}





/**
* Carousel with image and text, custom skinned scrollbar
**/
#carousel-image-and-text {
    width: 940px;
    height: 279px;
    margin: 0 auto; 
    top: 20px;
}   
#carousel-image-and-text .arrow-holder {
    height: 250px;
}       
#carousel-image-and-text .touchcarousel-item {
    margin-right: 1px;  
    width: 170px;
    height: 277px;      
}
#carousel-image-and-text .item-block {
    width: 170px;
    height: 277px;
    display: block;
}
#carousel-image-and-text .item-block img,
#carousel-image-and-text .item-block h4, 
#carousel-image-and-text .item-block p {
    float: left;
    position: relative;
    display: block;
    margin: 0;          
}
#carousel-image-and-text .item-block img {
    width: 170px;
    height: 230px;      
    border: 0;
    padding: 0;     
}
#carousel-image-and-text .item-block {          
    text-decoration: none;
    color: inherit;         
}                   
#carousel-image-and-text .item-block h4 {
    font: bold 13px/20px Helvetica, Arial, sans-serif;
    color: #000;
    width: 158px;
    height: auto;       
    padding: 2px 0 0 6px;
    -webkit-transition: color 0.2s ease-out; 
    -moz-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;    
}
#carousel-image-and-text .item-block:hover h4 { 
    color: #1873c9;     
}
#carousel-image-and-text .item-block p {            
    font: normal 13px/20px Helvetica, Arial, sans-serif;
    color: #555;        
    width: 158px;
    padding: 0 0 0 6px;
}
#carousel-image-and-text .scrollbar-holder {
    background: #CED7DB;
    bottom: 0;
    height: 1px;
    left: 0;
    right: 0;
}
#carousel-image-and-text .scrollbar {
    background-color: #45a8ce !important;
    bottom: 0;
}



/**
* Carousel with image and text (horizontal)
**/
#carousel-image-text-horizontal {
    width: 940px;
    height: 70px;
    margin: 0 auto;
    top: 85px;
}
#carousel-image-text-horizontal .touchcarousel-item {
    width: 216px;
    height: 60px;
    margin-right: 12px;
    background-color: #F0F3F3;          
    padding: 5px;
    position: relative;
}
#carousel-image-text-horizontal img, 
#carousel-image-text-horizontal h4,
#carousel-image-text-horizontal p {
    float:left;
    position: relative;
    margin: 0;
    padding: 0; 
    border: 0;          
}       
#carousel-image-text-horizontal img {           
    width: 40px;
    height: 40px;
}
#carousel-image-text-horizontal .rblock {
    width: 138px;
    float: left;
    margin-left: 7px;
}
#carousel-image-text-horizontal h4 {
    font: bold 13px/20px Helvetica, Arial, sans-serif;
    color: #000;
    width: 140px;
}
#carousel-image-text-horizontal p {         
    font: normal 13px/20px Helvetica, Arial, sans-serif;
    color: #555;
}







.touchcarousel{position:relative;width:600px;height:400px;overflow:hidden}
.touchcarousel .touchcarousel-container{position:relative;margin:0;padding:0;list-style:none;left:0}
.touchcarousel .touchcarousel-wrapper{position:relative;overflow:hidden;width:100%;height:100%}
.touchcarousel .touchcarousel-item{margin:0;padding:0;float:left;position:relative;background:#000;}
.touchcarousel .touchcarousel-item.last{margin-right:0!important}
.touchcarousel .arrow-holder{height:100%;width:40px;position:absolute;top:0;display:block;cursor:pointer;z-index:25}
.touchcarousel .arrow-holder.left{left:0}
.touchcarousel .arrow-holder.right{right:0}
.touchcarousel .arrow-icon{width:40px;height:40px;top:50%;margin-top:-20px;position:absolute;cursor:pointer}
.touchcarousel .arrow-holder.disabled{cursor:default}
.touchcarousel .arrow-holder.disabled .arrow-icon{cursor:default}
.touchcarousel .tc-paging-container{width:100%;overflow:hidden;position:absolute;margin-top:-20px;z-index:25}
.touchcarousel .tc-paging-centerer{float:left;position:relative;left:50%}
.touchcarousel .tc-paging-centerer-inside{float:left;position:relative;left:-50%}
.touchcarousel .tc-paging-item{float:left;cursor:pointer;position:relative;display:block;text-indent:-9999px}
.touchcarousel .scrollbar-holder{position:absolute;z-index:30;left:6px;right:6px;bottom:5px;height:4px;overflow:hidden}
.touchcarousel .scrollbar{position:absolute;left:0;height:4px;bottom:0}
.touchcarousel .scrollbar.dark{background-color:#828282;background-color:rgba(0,0,0,0.5)}
.touchcarousel .scrollbar.light{background-color:#d2d2d2;background-color:rgba(255,255,255,0.5)}
.touchcarousel .grab-cursor{cursor:url(grab.png) 8 8,move}
.touchcarousel .grabbing-cursor{cursor:url(grabbing.png) 8 8,move}
.touchcarousel .auto-cursor{cursor:auto}
.touchcarousel.black-and-white .arrow-icon{width:40px;height:40px;margin-top:-15px;top:50%;}
.touchcarousel.black-and-white .arrow-holder{width:40px;height:349px;}
.touchcarousel.black-and-white .arrow-holder:active .arrow-icon{}
.touchcarousel.black-and-white .arrow-icon.left{left:0px;background:url(http://mokselle-dev.ru/makhno/images/arrow_left.jpg);}
.touchcarousel.black-and-white .arrow-icon.right{right:0px;background:url(http://mokselle-dev.ru/makhno/images/arrow_right.jpg)}
.touchcarousel.black-and-white .arrow-holder:hover .arrow-icon{}
.touchcarousel.black-and-white .arrow-holder.disabled .arrow-icon.left{opacity:0.5;}
.touchcarousel.black-and-white .arrow-holder.disabled .arrow-icon.right{opacity:0.5;}
.touchcarousel.black-and-white .arrow-holder.disabled .arrow-icon.left,.touchcarousel.black-and-white .arrow-holder.disabled .arrow-icon.right{background-color:#c8c8c8;background-color:rgba(0,0,0,0.3)}


/**
* "Free-scroll" gallery
**/
.wide-carousel {
    width: 100%!important;
    height: 349px!important;
    margin: 40px 0!important;
    overflow: hidden !important;
}       
.wide-carousel .touchcarousel-wrapper {
    overflow: visible;
}
.wide-carousel .touchcarousel-item {
    margin-right: 20px!important;       
    height: 349px!important;
    cursor:pointer!important;
    position:relative!important;
}
.wide-carousel .touchcarousel-item .zoom {
    width:100%;
    height:100%;
    display:block;
    position:absolute;
    z-index:2;
    background:url(http://mokselle-dev.ru/makhno/images/zoom.png) no-repeat center;
    opacity:0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.wide-carousel .touchcarousel-item:hover .zoom {
    opacity:1;
}
.wide-carousel .touchcarousel-item .grayscale {
    width:100%;
    height:100%;
    position:absolute;
    z-index:1;
    opacity:1;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.wide-carousel .touchcarousel-item:hover .grayscale {
    opacity:0;
}
.wide-carousel .touchcarousel-item img {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.wide-carousel .touchcarousel-item:hover img {
    opacity:0.3;
}
.wide-carousel .arrow-icon.left {
    left: 0px;              
}
.wide-carousel .arrow-icon.right {
    right: 0px;         
}
.wide-carousel .arrow-holder {
    width: 40px;
    height:40px;    
    z-index:3;
}
.wide-carousel .scrollbar-holder {
    bottom: 6px;
}

.wide-carousel .touchcarousel-item a.arrow-holder {
    opacity:0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.wide-carousel .touchcarousel-item:hover a.arrow-holder {
    opacity:1;
}
</style>