
inputCenterStyle {
    border: medium none;
}
:-moz-placeholder {
    color: #393939;
    opacity: 1;
}
*::-moz-placeholder {
    color: #393939;
    opacity: 1;
}
@font-face {
    font-family: "comLight";
    src: url("../style/pfdintextcomppro-light-webfont.ttf");
}
@font-face {
    font-family: "conRegular";
    src: url("../style/pfdintextcondpro-regular-webfont.ttf");
}
@font-face {
    font-family: "conMedium";
    src: url("../style/pfdintextcondpro-medium-webfont.ttf");
}
@font-face {
    font-family: "comRegular";
    src: url("../style/pfdintextcomppro-regular-webfont.ttf");
}
@font-face {
    font-family: "comMedium";
    src: url("../style/pfdintextcomppro-medium-webfont.ttf");
}
@font-face {
    font-family: "PFD_Bold";
    src: url("../style/PFDinTextCondPro-Bold.ttf");
}
@font-face {
    font-family: "PFD_BoldItal";
    src: url("../style/PFDinTextCondPro-BoldItal.ttf");
}
@font-face {
    font-family: "PFD_Italic";
    src: url("../style/PFDinTextCondPro-Italic.ttf");
}
@font-face {
    font-family: "PFD_Light";
    src: url("../style/PFDinTextCondPro-Light.ttf");
}
@font-face {
    font-family: "PFD_LightItal";
    src: url("../style/PFDinTextCondPro-LightItal.ttf");
}
@font-face {
    font-family: "PFD_MedItal";
    src: url("../style/PFDinTextCondPro-MedItal.ttf");
}
@font-face {
    font-family: "PFD_Medium";
    src: url("../style/PFDinTextCondPro-Medium.ttf");
}
@font-face {
    font-family: "PFD_Regular";
    src: url("../style/PFDinTextCondPro-Regular.ttf");
}
@font-face {
    font-family: "PFD_Thin";
    src: url("../style/PFDinTextCondPro-Thin.ttf");
}
@font-face {
    font-family: "PFD_ThinItal";
    src: url("../style/PFDinTextCondPro-ThinItal.ttf");
}
@font-face {
    font-family: "PFD_XBlack";
    src: url("../style/PFDinTextCondPro-XBlack.ttf");
}
@font-face {
    font-family: "PFD_XBlackItal";
    src: url("../style/PFDinTextCondPro-XBlackItal.ttf");
}
@font-face {
    font-family: "PFD_XThin";
    src: url("../style/PFDinTextCondPro-XThin.ttf");
}
@font-face {
    font-family: "PFD_XThinItal";
    src: url("../style/PFDinTextCondPro-XThinItal.ttf");
}
@font-face {
    font-family: "PF";
    src: url("../style/PFDinTextCondPro-Regular.ttf");
}
@font-face {
    font-family: "PFbold";
    src: url("../style/PFDinTextCondPro-Medium.ttf");
}
body, p, section, header, label, small, h4, h3, h1, h2, i {
    color: white;
    font-family: conMedium;
    text-rendering: optimizelegibility !important;
}
h1, h2, h3, h4, h5 {
    font-weight: 400;
}
h3 {
    margin: -17px 0;
}
p {
    font-size: 18pt;
}
.fMedium {
    font-family: PFD_Medium;
}
.fThin {
    font-family: PFD_Thin;
}
.fLight {
    font-family: PFD_Light;
}
.cGray {
    color: #393939;
}
.cYellow {
    color: #f7cd03;
}
.cBlack {
    color: black;
}
.cRed {
    color: #af0116;
}
.cWhite {
    color: white;
}
.cBlue {
    color: #00ccff;
}
.allBg {
    width: 100%;
}
.headerBG {
    background: url("../img/1header/bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 880px;
}
.galleryBG {
    background: url("../img/8gallery/bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 770px;
    width: 940px;
}
.worksBG {
    background: url("../img/10works/bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 940px;
}
.justBg {
    background: url("../img/13just/bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 485px;
}
.tasksBg {
    height: 582px;
    margin-top: 4px;
}
.zakazBg {
    height: 195px;
}
.centerBg {
    background: url("../img/6centr/bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 485px;
}
.profBG {
    background: url("../img/7prof/bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 485px;
}
.aboutBG {
    background: url("../img/12about/bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 790px;
}
.giveBG {
    background: url("../img/11give/bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 510px;
}
.faktsBG {
    background: url("../img/5fakts/bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 570px;
}
.benefitsBG {
    background: url("../img/4benefits/bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 517px;
}
.designBG {
    background: url("../img/3design/bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 710px;
    margin-top: -1px;
}
.allContainerBg {
    width: 940px;
}
.headerContBg {
    height: 100%;
}
.fontRegular {
    font-family: PFD_Regular;
}
.fontThin {
    font-family: PFD_Thin;
}
.fontBold {
    font-family: PFD_Bold;
}
.textAlignCenter {
    text-align: center;
}
.bgAllTitles {
    background: none repeat scroll 0 0 #c8cad1;
    height: 98px;
}
.bgAllTitles3 {
    background: none repeat scroll 0 0 #c8cad1;
    height: 170px;
    vertical-align: middle;
}
.bgAllTitles2 {
    background: none repeat scroll 0 0 #d3d3d3;
    height: 95px;
}
.size11 {
    font-size: 11pt;
}
.size12 {
    font-size: 12pt;
}
.size30 {
    font-size: 30pt;
}
.size40 {
    font-size: 40pt;
}
.size15 {
    font-size: 15pt;
}
.size16 {
    font-size: 16pt;
}
.size27 {
    font-size: 27pt;
}
.size22 {
    font-size: 22pt;
}
.size29 {
    font-size: 29pt;
}
.textTitle {
    font-family: comMedium;
    font-size: 60px;
    height: 45px;
    letter-spacing: -3px;
    margin: 0;
    padding: 32px 0 9px;
    vertical-align: middle;
}
.textTitle2 {
    font-size: 47pt;
    height: 45px;
    letter-spacing: -1px;
    margin: 40px 0 0;
    padding: 27px 0 22px;
    vertical-align: middle;
}
.width229 {
    width: 229px;
}
.nadDoveriem {
    font-family: conRegular;
    font-size: 16px;
    margin: 26px 2px 18px;
}
.btnSubmitHeader {
    background: none repeat scroll 0 0 #393939;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    font-size: 32px !important;
    margin: 0 auto 5px;
    padding: 4px;
    text-transform: lowercase;
    width: 270px;
}
.rightFormHeader7 {
    margin: 0 auto 15px;
    width: 259px;
}
.rightFormHeader6 {
    margin: 0 auto 5px;
    width: 259px;
}
.rightFormHeader5 {
    font-size: 24px;
    font-family: conRegular;
    margin: -18px 0 0 6px;
}
.rightFormHeader4 {
    background-color: #00ccff;
    border: 1px solid black;
    height: 353px;
    margin-top: 14px;
    padding: 0;
    text-align: center;
    width: 300px;
}
.textRightGarantiya {
    font-family: conRegular;
    font-size: 14px;
    margin: 0 0 -3px;
    padding: 0;
    text-align: center;
}
#sbmBtnCntr {
    border-radius: 10px;
    margin: 2px 0 0;
    font-size: 36px;
    padding: 16px;
    text-transform: lowercase;
    width: 275px;
}
.rightFormHeader {
    background-color: #22242b;
    border: 1px solid black;
    border-radius: 10px;
    height: 227px;
    margin: 4px 0 0;
    padding: 0;
    text-align: center;
    width: 300px;
}
.brandsHeader {
    background: url("../img/1header/bg_3.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin-top: 27px;
    padding: 0;
    width: 638px;
    height: 100px;
}
.brandsHeader > img
{
    margin: 3px -1px 0px 4px;
}
.namDoveryayut {
    font-family: conMedium;
    font-size: 28px;
    margin: 21px 0 0 0;
    text-align: center;
}
.header20per {
    font-size: 30pt;
    margin-left: 0;
}
.circleTextHeader {
    width: 120px;
}
.podmenuHeaderLine {
    margin: 8px 55px 0 0;
}
.menuHeaderLine {
    background-color: #00ccff;
    height: 48px;
    margin: 5px 0 0;
    width: 100%;
}
.zakazatHeader {
    font-size: 10pt;
    margin-top: -5px;
}
.numberHeader {
    margin: 6px -2px 0 25px;
    text-align: right;
    width: 260px;
}
.headOfHeader {
    height: 145px;
    margin: 1px 0 -1px 0;
}
.logo {
    height: 70px;
    margin: 5px 20px 5px 2px;
    width: 70px;
}
.star {
    height: 45px;
    width: 47px;
}
.inlineBlockI {
    display: inline-table;
    padding: 0 4px 0 8px;
}
.designProjectText1 {
    color: #393939;
    font-family: conRegular;
    font-size: 24px;
    margin-bottom: 8px;
    display: inline-table;
}
.designProjectText1-1 {
    color: #393939;
    display: inline-table;
    font-family: conMedium;
    font-size: 24px;
    margin-bottom: 8px;
}
.inlineBlock {
    display: inline-table;
}
.inlB {
    display: inline-block;
}
.verMiddle {
    vertical-align: middle;
}
.inline {
    display: inline;
}
.inputCenterStyleHeader > input {
    background-color: #00ccff;
}
.inputCenterStyleHeader {
    border: 2px solid white;
    margin: 9px 0 11px 13px;
    padding: 2px 8px;
}
.circle5 {
    font-size: 36px;
    margin: 0 auto;
    padding: 26px 0 0;
    text-align: center;
    vertical-align: middle;
}
.circle4 {
    background-image: url("../img/1header/bg_4.png");
    border-radius: 50%;
    font-size: 26pt;
    height: 80px;
    margin: 0 12px 4px 16px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 79px;
}
.smallText {
    font-family: conRegular;
    font-size: 16px;
    margin: 0 0 -7px -12px;
    padding: 0;
    text-align: center;
}
.smallTextCircle {
    font-family: conRegular;
    font-size: 16px;
    margin: 5px 0 0;
    padding: 0;
    text-align: center;
}
.headerTitle1White {
    color: white;
    font-family: comRegular;
    font-size: 30px;
    margin: 4px 0 0;
}
.headerTitle1Blue {
    color: #00ccff;
    font-family: comRegular;
    font-size: 30px;
    margin: -12px 0 0;
}
.headerTitle2White, .headerTitle2Blue {
    color: white;
    display: inline;
    font-family: conMedium;
    font-size: 18px;
    margin: 0 0 0 1px;
}
.headerTitle2Blue, .headerTitle3Blue {
    color: #00ccff;
    margin: 0 0 0 1px;
}
.headerTitle3White, .headerTitle3Blue {
    display: inline;
    font-family: conMedium;
    font-size: 30px;
}
.headerTitle4Blue {
    color: #00ccff;
    font-family: conMedium;
    font-size: 16px;
    letter-spacing: 0;
    margin: 5px 6px 0 0;
}
.asdfg {
    margin: 0 19px 0 0;
}
.headerTitle3Blue {
    margin: 0 4px 0 -3px;
}
.menuText,.menuText a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-family: conMedium;
    font-size: 30px;
    margin: 7px -6px 5px 18px;
    padding: 0;
}
.textLeftHeader6 {
    font-family: conMedium;
    font-size: 32px;
    margin: 0 0 0 1px;
}
.textLeftHeader5 {
    font-family: conMedium;
    font-size: 32px;
    margin: 0 3px;
}
.textLeftHeader4 {
    font-family: conMedium;
    font-size: 32px;
    margin: 16px 0 19px 4px;
}
.textLeftHeader3 {
    float: left;
    margin-top: 5px;
    text-align: left;
}
.textLeftHeader2 {
    text-align: left;
    width: 525px;
}
.textLeftHeader1 {
    background-color: #00ccff;
    height: 45px;
    margin: 15px 0;
    padding: 2px 0;
    width: 597px;
}
.designHeader {
    font-family: conMedium;
    font-size: 52px;
    margin: 11px 0;
}
.profTextHeader {
    cursor: pointer;
    font-family: conMedium;
    font-size: 29px;
    margin: 12px 2px;
    padding: 0;
    text-align: left;
    width: 650px;
}
.rightFormHeader3 {
    font-family: conMedium;
    font-size: 22px;
    margin: -3px 0 0 9px;
}
.rightFormHeader2 {
    font-family: conMedium;
    font-size: 21px;
    margin: -3px 0 0 17px;
}
.basfa section, .basfa {
    font-family: conRegular;
    font-size: 16px;
    margin: -4px -5px 2px 4px;
}
.fullTextOfSliderTasks {
    color: black;
    display: none;
    font-family: conRegular;
    font-size: 24px;
    letter-spacing: 0px;
    margin-left: 5px;
    text-align: justify;
    text-align-last:left;
    -moz-text-align-last:left;
}
.fullTextOfSliderTasks > .jir
{
    color: black;
    display: inline;
    font-family: conMedium;
}
.blueTextOfSliderTasks {
    display: inline;
    font-family: conMedium;
    font-size: 24px;
    letter-spacing: 0px;
    vertical-align: top;
}
.textOfSliderTasks {
    margin: 26px 0;
    vertical-align: top;
    width: 485px;
    overflow:hidden !important;
}
.imgOfSliderTasks {
    height: 259px;
    margin: 22px 13px 20px 48px;
    width: 231px;
}
.imgTasks {
    height: 50px;
    margin: 0 3px 0 0;
    width: 50px;
}
.buttersSP {
    cursor: pointer;
    display: inline-block;
    margin: 30px 14px 0px 0px;
    padding: 0px 0px 23px 0px;
    width: 231px;
}
.buttersSPLast {
    cursor: pointer;
    display: inline-block;
    margin: 30px 0 0 -27px;
    padding: 8px 0;
    width: 216px;
}
.textTasks {
    font-family: conRegular;
    font-size: 24px;
    vertical-align: text-top;
    width: 174px;
    line-height: 24px;
}
.buttersSPLast .textTasks {
    width: 156px;
    margin: 0 0 0 0px;
}
.finalDivAaeee {
    border: 4px solid #00ccff;
    border-radius: 4px;
    height: 300px;
    margin: 15px auto 40px;
    width: 855px;
}
.tabs2 {
    background: none repeat scroll 0 0 white;
    border: 4px solid #00ccff;
    border-radius: 4px;
    color: #00ccff;
    cursor: pointer;
    font-size: 32pt;
    height: 27px;
    margin: -238px 0 0 856px;
    padding: 39px 25px;
    position: absolute;
    width: 25px;
}
.tabs {
    background: none repeat scroll 0 0 white;
    border: 4px solid #00ccff;
    border-radius: 4px;
    color: #00ccff;
    cursor: pointer;
    font-size: 32pt;
    margin: 105px 0 0 -43px;
    padding: 29px 25px;
    position: absolute;
    vertical-align: middle;
}
.oneText {
    font-family: PFD_Medium;
    font-size: 18px;
}
.twoTextR {
    float: right;
    margin: 10px 0 75px;
    text-align: right;
    width: 283px;
    font-family: conRegular;
    font-size: 16px;
}
.oneTextR {
    float: right;
    font-family: PFD_Medium;
    font-size: 18px;
    text-align: right;
}
.twoText {
    font-family: conRegular;
    font-size: 16px;
    margin: 13px 0 73px 3px;
    width: 260px;
}
.btnSup {
    text-decoration: none!important;
    text-rendering: optimizelegibility !important;
    background: none repeat scroll 0 0 #00ccff;
    border-radius: 6px;
    line-height:30px;
    color: white!important;
    cursor: pointer;
    font-family: comRegular;
    font-size: 36px;
    margin: 4px auto;
    padding: 17px 30px 18px;
    text-align: center;
    width: 301px;
}
a.btnSup {
margin: 4px 0 4px 290px;
padding: 12px 30px 10px;
border: 1px solid black;
text-align: center;
}
.textCenterD {
    color: #ffd400;
    font-family: conRegular;
    line-height: 1;
    font-size: 24px;
    margin: 30px auto 0;
    text-align: center;
    width: 851px;
}
.bumL {
    text-align: right;
    width: 375px;
    margin: 0 0 0 4px;
}
.secL {
    font-family: conRegular;
    font-size: 16px;
    margin-left: -19px;
    margin-top: 20px;
    padding: 10px 10px 10px 0;
    width: 402px;
    line-height: 20px;
}
.secL .pustBudetT, .secR .pustBudetT {
    color: black;
    display: inline;
    font-family: conMedium;
}
.footerL {
    font-family: comRegular;
    font-size: 48px;
    margin: 20px 0 0 6px;
    vertical-align: middle;
}
.headerL {
    font-family: conMedium;
    font-size: 18px;
    margin: 0 0 4px 0;
    text-align: right;
}
.bumR {
    text-align: left;
    width: 375px;
}
.benHeightNeed {
    height: 130px;
}
.secR {
    font-family: conRegular;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px 0 10px 2px;
    width: 375px;
    line-height:20px;
}
.footerR {
    font-family: comRegular;
    font-size: 48px;
    margin: 20px 10px 0 0;
    vertical-align: middle;
}
.headerR {
    font-family: conMedium;
    font-size: 18px;
    text-align: left;
    margin: 0 0 4px 0;
}
.blocks {
    border: 5px solid white;
    border-radius: 16px;
    color: white;
    height: 194px;
    margin: 5px 42px 20px 0;
    text-align: center;
    vertical-align: middle;
    width: 195px;
}
.numbers {
    font-family: conRegular;
    font-size: 72px;
    margin: 77px 0 18px;
    vertical-align: middle;
}
.textNiz {
    font-family: conRegular;
    font-size: 16px;
}
.blocks:hover {
    border: 5px solid #ffd400;
    color: #ffd400;
    cursor: pointer;
}
.blocks:hover .textNiz, .blocks:hover .numbers {
    color: #ffd400;
}
.size17 {
    font-size: 17pt;
}
.submitBtnCentr {
    background: none repeat scroll 0 0 #00ccff;
    border: 1px solid black;
    color: white;
    cursor: pointer;
    font-family: conMedium;
    font-size: 24pt;
    margin: 0 auto 5px;
    padding: 10px;
}
.inputCenterStyle {
    border: 1px solid black;
    margin: 0 14px 16px;
    padding: 3px 0;
    width: 275px;
}
.width270 {
    width: 270px;
}
.formLeftCentr {
    background: none repeat scroll 0 0 white;
    border: 1px solid black;
    border-radius: 10px;
    height: 385px;
    margin: 28px 0 0;
    width: 300px;
    padding: 0;
    text-align: center;
}
.timerLeftCentr2 {
    font-family: conMedium;
    font-size: 52px;
}
.timerLeftCentr {
    margin-top: 115px;
    text-align: right;
}
.timerLeftCentr h3, .timerLeftCentr h4, .timerLeftCentr h2 .timerLeftCentr h1, .timerLeftCentr div {
    font-family: conRegular;
}
.imgGallery {
    height: 715px;
    width: 1355px;
}
.titleDemand {
    font-family: conRegular;
    font-size: 36px;
    margin: 0;
    padding: 20px 0 15px;
}
.podTitleDemand {
    font-family: conRegular;
    font-size: 36px;
    margin-top: 15px 0 0 6px;
}
.bum ul li {
    color: #00ccff;
    list-style-type: disc;
}
.bum ul li p {
    color: black;
    font-family: conRegular;
    font-size: 18px;
    margin: 17px 0 -5px 2px;
    padding: 0;
    text-align: left;
}
.bum ul li label, .bum ul li p label {
    color: black;
    cursor: auto;
    display: inline;
    font-family: conMedium;
    font-size: 18px;
}
.btnVip {
    background-color: white;
    border: 4px solid #00ccff;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    font-family: conRegular;
    font-size: 36px;
    padding: 16px 0;
    height: 19px;
    z-index: 1!important;
    width: 252px;
}
a.hrefbut {
display: block;
color: black!important;
text-decoration: none;
z-index: 2!important;
}
a.hrefbut2 {
display: block;
color: white!important;
text-decoration: none;
z-index: 2!important;
}

.y {
    margin: 311px 0 0 6px;
}
.yy {
    margin: 114px 0 0 2px;
}
.yyy {
    margin: 48px 0 0 5px;
}
.btnVip:hover {
    background-color: #00ccff;
    border: 4px solid #00ccff;
    color: white;
    cursor: pointer;
    font-family: conRegular;
    font-size: 36px;
}
.btns
{
display: inline-table;
}
.btnVipV2 {
    background-color: white;
    border: 4px solid #00ccff;
    border-radius: 10px;
    color: black;
    text-align: center;
    display: inline-block;
    margin: 0 60px 0 20px;
    cursor: pointer;
    font-family: conRegular;
    font-size: 36px;
    padding: 16px 0;
    height: 19px;
    z-index: 1!important;
    width: 252px;
}
.btnVipV2:last-child
{
    margin: 0 -100px 0 20px;
}
.btnVipV2:hover {
    background-color: #00ccff;
    border: 4px solid #00ccff;
    color: white;
    cursor: pointer;
    font-family: conRegular;
    font-size: 36px;
}
.inlineBlockI {
    display: inline-table;
    padding: 0 5px;
}
.inlineTable {
    display: inline-table;
}
.verMiddle {
    vertical-align: middle;
}
.inline {
    display: inline;
}
.botText {
    color: white;
    font-family: conRegular;
    font-size: 36px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    width: 320px;
}
.dopUsl {
    color: white;
    font-family: conRegular;
    font-size: 27pt;
    margin: 20px 0 146px 8px;
    text-align: left;
}
.btnSuper {
    background: none repeat scroll 0 0 #00ccff;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-family: conRegular;
    font-size: 36px;
    margin: 0 auto;
    padding: 17px;
    text-align: center;
    width: 329px;
    height: 25px;
}
.btnSuper2 {
    background: none repeat scroll 0 0 #00ccff;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-family: conRegular;
    font-size: 36px;
    height: 24px;
    margin: 14px auto;
    padding: 17px;
    text-align: center;
    width: 297px;
}
.wMitty {
    margin: 0 0 0 50px;
    width: 200px;
}
.wMitty p {
    color: white;
    font-family: conRegular;
    font-size: 16px;
    margin: 0 0 4px 5px;
    padding: 0;
    text-align: left;
}
.wMitty header {
    font-family: conMedium;
    font-size: 18px;
    margin: 0 0 7px -1px;
    width: 148px;
}
.wMitty footer {
    font-family: conRegular;
    font-size: 36px;
    margin: 11px 0 -9px;
}
.textTwoGive {
    color: #000000;
    font-family: conMedium;
    font-size: 22px;
    line-height: 45px;
    margin: -20px 0 0;
    text-align: center;
    vertical-align: middle;
}
.chiktok
{

}
.textTwoGive2 {
    color: #000000;
    font-family: conMedium;
    font-size: 22px;
    line-height: 45px;
    margin: -20px 0 0;
    text-align: center;
    vertical-align: middle;
}

.textOneGive {
    color: #000000;
    font-family: conMedium;
    font-size: 22px;
    line-height: 45px;
    margin: 80px 0 0;
    text-align: center;
    vertical-align: middle;
}
.textOneGive3 {
    color: #000000;
    font-family: conMedium;
    font-size: 22px;
    line-height: 45px;
    margin: 68px 0 0;
    text-align: center;
    vertical-align: middle;
}
.ASD2 {
    margin: 22px 20px 0 0;
    display: inline-block;
}

.ASD {
    margin: 22px 19px 0 0;
    display: inline-block;
}
.certLeftAbout {
    float: left;
    margin: 16px -20px 0 40px;
    padding: 0;
}
.certRightAbout {
    float: right;
    margin: 7px 2px 0 0px;
    padding: 0;
}
.textSec > section {
    margin: 21px 0 24px 20px; 
    font-family: conMedium;
    font-size: 18px;
}
.textSec {
    border: 3px solid black;
    width: 612px;
    border-radius: 10px;
}
.textSec > section > section {
    display: initial;
    font-family: conRegular;
    font-size: 18px;
}
.aboutTextReg {
    font-family: conRegular !important;
}
.submitBtnJust {
    background: none repeat scroll 0 0 #393939;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    font-family: conRegular;
    font-size: 25px;
    margin: 0 auto 5px;
    padding: 4px;
    width: 270px;
}
.leftJust {
    margin-top: 115px;
    text-align: right;
}
.size15 {
    font-size: 15pt;
}
.size40 {
    font-size: 40pt;
}
.adressContacts {
    background: url("../img/14contacts/bg.png") repeat scroll 0 0 #ebedef;
    color: #22242b;
    font-family: conRegular;
    font-size: 42px;
    height: 150px;
    margin-top: 16px;
    padding-left: 20%;
    text-align: left;
}
.textZakaz {
    font-family: conMedium;
    font-size: 60px;
    margin: 86px 0 0 50px;
    text-align: right;
    width: 440px;
}
.textZakaz h1
{
    font-size: 60px;
}
.ssylkaZakaz, .ssylkaZakaz:hover {
    border-bottom: 1px dashed #af0116;
    color: #af0116;
    font-family: conMedium;
    width: 135px;
    margin-left: 307px;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    vertical-align: middle;
}
.size35 {
    font-size: 35pt;
}
.ssylkaZakaz2 {
    border-bottom: 1px dashed #af0116;
    color: #af0116;
    cursor: pointer;
    font-family: conMedium;
    font-size: 26px;
    letter-spacing: -1px;
    margin: 42px -84px 0 57px;
    vertical-align: middle;
}
.textAlignCenter > .ssylkaZakaz {
    margin: 20px 0 0;
}
.fontComLight {
    font-family: comLight;
}
.fontConRegular {
    font-family: conRegular;
}
.fontConMedium {
    font-family: conMedium;
}
.fontComMedium {
    font-family: comMedium;
}
.fontComRegular {
    font-family: comRegular;
}
.howget {
    color: #393939;
    font-size: 30px;
}
.cGray {
    color: #393939;
}
.size50 {
    font-size: 50pt;
}
.ragon {
    font-size: 24px;
    letter-spacing: -1px;
}
.ragon span {
    font-family: conMedium;
}
.my_input {
    border: 2px solid #fff;
    margin: 0 auto 10px;
    padding: 0 3px;
}
.my_input input {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    color: #fff;
    font-family: conRegular;
    font-size: 16px;
}
.my_input input::-webkit-input-placeholder {
    color: #fff;
}
.my_input input::-moz-placeholder {
    color: #fff;
}
.my_input input:-moz-placeholder {
    color: #fff;
}
.contactsTitle {
    font-family: comMedium;
    font-size: 60px;
}
.bgAllTitles3 .textTitle2 {
    font-family: comMedium;
    font-size: 60px;
}
strong {
    font-family: conMedium;
    font-weight: 400;
}
.adressContacts h3 {
    color: #22242b;
    font-family: conRegular;
    font-size: 42px;
    padding: 39px 0 0;
    margin: -17px 0 0 -34px;
}
.inputCenterStyle > img 
{
    margin-left: -13px;
}
.fixed 
{
    position: static;
    height: 145px;
    padding: 0;
    margin: 0px auto 0;
    width: 940px;
    top: 0px;
    z-index: 999;
}
section.row.stayHere {
margin-top: -147px;
}

@-moz-document url-prefix() 
{ 
    .yy
    {
        margin: 123px 0  0 2px!important;
    }
    .yyy
    {
     margin: 59px 0  0 5px!important;   
    }
    .fixed 
    {
        position: static;
    height: 145px;
    padding: 0;
    margin: 0 auto 0;
    width: 940px;
    top: 0px;
    z-index: 999;
    }
    .stayHere
    {
        position: absolute; margin-top: -150px;
    }

} 

#fixed[id=fixed] { 
position: static;
    height: 145px;
    padding: 0;
    margin: 0px auto 0;
    width: 940px;
    top: 0px;
    z-index: 999; }

.style, x:-moz-any-link {
    .fixed 
        {
            position: static;
        height: 145px;
        padding: 0;
        margin: 0 auto 0;
        width: 940px;
        top: 0px;
        z-index: 999;
        }
    .stayHere
    {
        position: absolute; margin-top: -150px;
    }
}
#stayHere[id=stayHere] { 
position: absolute; margin-top: -150px;
 }

/*
    left: 16.3%;
    background-image: url(../img/1header/lineOfTheTop.png);
    background-size: 100% 100%;
    background-repeat: repeat;*/
.parent
{
width: 100%;
    height: 145px;
    background-image: url(../img/1header/lineOfTheTop.png);
    background-size: 100% 100%;
    background-repeat: repeat;
    z-index: 3;
    left: 0;    
}
.fixedParent
{
    width: 100%;
    height: 145px;
    position: static;
    background: #393939;
    background-size: 100% 100%;
    background-repeat: repeat;
    z-index: 3;
    left: 0;
}
.menuText a
{
    margin-left: 5px;
}

/*                          Thanks          */

.headerThaks:first-child, .headerThaks
{
    color: #393939;
    text-transform: uppercase;
    text-align: center;
    margin: 40px 0 0 0; 
    font-size: 30px;
}
.headerThaks
{
    margin: 10px 0 40px 0;
}
.textThaks
{
    color: #393939;
    font-size: 18px;
    text-align: center;
}

/*              RING            */
::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {  
   color: #cfcfd1;  
}
.inInp
{
    color: #393939;
    text-align: left;
}
.ringMain {
    background-color: #b7b8ba;
    height: 540px;
    display: none;
    margin-top: 14px;
    position: fixed;
    padding: 0;
    left: 35%;
    z-index: 1000;
    text-align: center;
    width: 465px;
    color: #393939;
}
.ringMain>h2
{
    font-size: 36px;
}
.ringsecondText {
    font-size: 18px;
    font-family: conRegular;
    color: #393939;
    line-height: 18px;
    margin: -18px 0 0 6px;
}
.ringInp {
    margin: 0 auto 5px;
    color: #393939;
    width: 259px;
}
.ringCen > input {
    background-color: white;
}
.ringCen {
    margin: 9px 0 11px 22px;
    color: #393939;
    padding: 2px 8px;
}
.ringBut {
    background: none repeat scroll 0 0 #393939;
    border: 1px solid #ffd400;
    color: #ffd400;
    cursor: pointer;
    font-size: 30px !important;
    margin: 0 auto 5px;
    padding: 4px;
    width: 276px;

}
.ringGar {
    font-family: conRegular;
    font-size: 18px;
    color: #393939;
    margin: 5px 0 -3px;
    padding: 0;
    text-align: center;
}
.ringGar:first-child
{
    margin: 20px 0 -3px;
}
.ringClose
{
    color: #393939;
    background-color: #b7b8ba;
    border-radius: 10px;
    float: right;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #b7b8ba;
}

/*                             END                 */


/*              ring3            */
::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {  
   color: #cfcfd1;  
}
.inInp
{
    color: #393939;
    text-align: left;
}
.ring3Main {
    background-color: #b7b8ba;
    height: 540px;
    display: none;
    margin-top: 14px;
    position: fixed;
    padding: 0;
    left: 35%;
    z-index: 1000;
    text-align: center;
    width: 465px;
    color: #393939;
}
.ring3Main>h2
{
    font-size: 36px;
}
.ring3secondText {
    font-size: 18px;
    font-family: conRegular;
    color: #393939;
    line-height: 18px;
    margin: -18px 0 0 6px;
}
.ring3Inp {
    margin: 0 auto 5px;
    color: #393939;
    width: 259px;
}
.ring3Cen > input {
    background-color: white;
}
.ring3Cen {
    margin: 9px 0 11px 22px;
    color: #393939;
    padding: 2px 8px;
}
.ring3But {
    background: none repeat scroll 0 0 #393939;
    border: 1px solid #ffd400;
    color: #ffd400;
    cursor: pointer;
    font-size: 30px !important;
    margin: 0 auto 5px;
    padding: 4px;
    width: 276px;

}
.ring3Gar {
    font-family: conRegular;
    font-size: 18px;
    color: #393939;
    margin: 5px 0 -3px;
    padding: 0;
    text-align: center;
}
.ring3Gar:first-child
{
    margin: 20px 0 -3px;
}
.ring3Close
{
    color: #393939;
    background-color: #b7b8ba;
    border-radius: 10px;
    float: right;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #b7b8ba;
}

/*                             END                 */

/*              ring4            */
::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {  
   color: #cfcfd1;  
}
.inInp
{
    color: #393939;
    text-align: left;
}
.ring4Main {
    background-color: #b7b8ba;
    height: 540px;
    display: none;
    margin-top: 14px;
    position: fixed;
    padding: 0;
    left: 35%;
    z-index: 1000;
    text-align: center;
    width: 465px;
    color: #393939;
}
.ring4Main>h2
{
    font-size: 36px;
}
.ring4secondText {
    font-size: 18px;
    font-family: conRegular;
    color: #393939;
    line-height: 18px;
    margin: -18px 0 0 6px;
}
.ring4Inp {
    margin: 0 auto 5px;
    color: #393939;
    width: 259px;
}
.ring4Cen > input {
    background-color: white;
}
.ring4Cen {
    margin: 9px 0 11px 22px;
    color: #393939;
    padding: 2px 8px;
}
.ring4But {
    background: none repeat scroll 0 0 #393939;
    border: 1px solid #ffd400;
    color: #ffd400;
    cursor: pointer;
    font-size: 30px !important;
    margin: 0 auto 5px;
    padding: 4px;
    width: 276px;

}
.ring4Gar {
    font-family: conRegular;
    font-size: 18px;
    color: #393939;
    margin: 5px 0 -3px;
    padding: 0;
    text-align: center;
}
.ring4Gar:first-child
{
    margin: 20px 0 -3px;
}
.ring4Close
{
    color: #393939;
    background-color: #b7b8ba;
    border-radius: 10px;
    float: right;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #b7b8ba;
}

/*                             END                 */

/*              ring1            */
::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {  
   color: #cfcfd1;  
}
.inInp
{
    color: #393939;
    text-align: left;
}
.ring1Main {
    background-color: #b7b8ba;
    height: 540px;
    display: none;
    margin-top: 14px;
    position: fixed;
    padding: 0;
    left: 35%;
    z-index: 1000;
    text-align: center;
    width: 465px;
    color: #393939;
}
.ring1Main>h2
{
    font-size: 36px;
}
.ring1secondText {
    font-size: 18px;
    font-family: conRegular;
    color: #393939;
    line-height: 18px;
    margin: -18px 0 0 6px;
}
.ring1Inp {
    margin: 0 auto 5px;
    color: #393939;
    width: 259px;
}
.ring1Cen > input {
    background-color: white;
}
.ring1Cen {
    margin: 9px 0 11px 22px;
    color: #393939;
    padding: 2px 8px;
}
.ring1But {
    background: none repeat scroll 0 0 #393939;
    border: 1px solid #ffd400;
    color: #ffd400;
    cursor: pointer;
    font-size: 30px !important;
    margin: 0 auto 5px;
    padding: 4px;
    width: 276px;

}
.ring1Gar {
    font-family: conRegular;
    font-size: 18px;
    color: #393939;
    margin: 5px 0 -3px;
    padding: 0;
    text-align: center;
}
.ring1Gar:first-child
{
    margin: 20px 0 -3px;
}
.ring1Close
{
    color: #393939;
    background-color: #b7b8ba;
    border-radius: 10px;
    float: right;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #b7b8ba;
}

/*                             END                 */

/*              ring2            */
::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {  
   color: #cfcfd1;  
}
.inInp
{
    color: #393939;
    text-align: left;
}
.ring2Main {
    background-color: #b7b8ba;
    height: 540px;
    display: none;
    margin-top: 14px;
    position: fixed;
    padding: 0;
    left: 35%;
    z-index: 1000;
    text-align: center;
    width: 465px;
    color: #393939;
}
.ring2Main>h2
{
    font-size: 36px;
}
.ring2secondText {
    font-size: 18px;
    font-family: conRegular;
    color: #393939;
    line-height: 18px;
    margin: -18px 0 0 6px;
}
.ring2Inp {
    margin: 0 auto 5px;
    color: #393939;
    width: 259px;
}
.ring2Cen > input {
    background-color: white;
}
.ring2Cen {
    margin: 9px 0 11px 22px;
    color: #393939;
    padding: 2px 8px;
}
.ring2But {
    background: none repeat scroll 0 0 #393939;
    border: 1px solid #ffd400;
    color: #ffd400;
    cursor: pointer;
    font-size: 30px !important;
    margin: 0 auto 5px;
    padding: 4px;
    width: 276px;

}
.ring2Gar {
    font-family: conRegular;
    font-size: 18px;
    color: #393939;
    margin: 5px 0 -3px;
    padding: 0;
    text-align: center;
}
.ring2Gar:first-child
{
    margin: 20px 0 -3px;
}
.ring2Close
{
    color: #393939;
    background-color: #b7b8ba;
    border-radius: 10px;
    float: right;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #b7b8ba;
}

/*                             END                 */

/*              Zakaz            */
::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {  
   color: #cfcfd1;  
}
.inInp
{
    color: #393939;
    text-align: left;
}
.ZakazMain {
    background-color: #b7b8ba;
    height: 540px;
    display: none;
    margin-top: 14px;
    position: fixed;
    padding: 0;
    left: 35%;
    z-index: 1000;
    text-align: center;
    width: 465px;
    color: #393939;
}
.ZakazMain>h2
{
    font-size: 45px;
}
.ZakazsecondText {
    font-size: 18px;
    font-family: conRegular;
    color: #393939;
    line-height: 18px;
    margin: -18px 0 0 6px;
}
.ZakazInp {
    margin: 0 auto 5px;
    color: #393939;
    width: 259px;
}
.ZakazCen > input {
    background-color: white;
}
.ZakazCen {
    margin: 9px 0 11px 22px;
    color: #393939;
    padding: 2px 8px;
}
.ZakazBut {
    background: none repeat scroll 0 0 #393939;
    border: 1px solid #ffd400;
    color: #ffd400;
    cursor: pointer;
    font-size: 30px !important;
    margin: 0 auto 5px;
    padding: 4px;
    width: 276px;

}
.ZakazGar {
    font-family: conRegular;
    font-size: 18px;
    color: #393939;
    margin: 5px 0 -3px;
    padding: 0;
    text-align: center;
}
.ZakazGar:first-child
{
    margin: 20px 0 -3px;
}
.ZakazClose
{
    color: #393939;
    background-color: #b7b8ba;
    border-radius: 10px;
    float: right;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #b7b8ba;
}

/*                             END                 */

/*              Zakaz1            */
::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {  
   color: #cfcfd1;  
}
.inInp
{
    color: #393939;
    text-align: left;
}
.Zakaz1Main {
    background-color: #b7b8ba;
    height: 540px;
    display: none;
    margin-top: 14px;
    position: fixed;
    padding: 0;
    left: 35%;
    z-index: 1000;
    text-align: center;
    width: 465px;
    color: #393939;
}
.Zakaz1Main>h2
{
    font-size: 45px;
}
.Zakaz1secondText {
    font-size: 18px;
    font-family: conRegular;
    color: #393939;
    line-height: 18px;
    margin: -18px 0 0 6px;
}
.Zakaz1Inp {
    margin: 0 auto 5px;
    color: #393939;
    width: 259px;
}
.Zakaz1Cen > input {
    background-color: white;
}
.Zakaz1Cen {
    margin: 9px 0 11px 22px;
    color: #393939;
    padding: 2px 8px;
}
.Zakaz1But {
    background: none repeat scroll 0 0 #393939;
    border: 1px solid #ffd400;
    color: #ffd400;
    cursor: pointer;
    font-size: 30px !important;
    margin: 0 auto 5px;
    padding: 4px;
    width: 276px;

}
.Zakaz1Gar {
    font-family: conRegular;
    font-size: 18px;
    color: #393939;
    margin: 5px 0 -3px;
    padding: 0;
    text-align: center;
}
.Zakaz1Gar:first-child
{
    margin: 20px 0 -3px;
}
.Zakaz1Close
{
    color: #393939;
    background-color: #b7b8ba;
    border-radius: 10px;
    float: right;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #b7b8ba;
}

/*                             END                 */

/*              Zakaz2            */
::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {  
   color: #cfcfd1;  
}
.inInp
{
    color: #393939;
    text-align: left;
}
.Zakaz2Main {
    background-color: #b7b8ba;
    height: 540px;
    display: none;
    margin-top: 14px;
    position: fixed;
    padding: 0;
    left: 35%;
    z-index: 1000;
    text-align: center;
    width: 465px;
    color: #393939;
}
.Zakaz2Main>h2
{
    font-size: 45px;
}
.Zakaz2secondText {
    font-size: 18px;
    font-family: conRegular;
    color: #393939;
    line-height: 18px;
    margin: -18px 0 0 6px;
}
.Zakaz2Inp {
    margin: 0 auto 5px;
    color: #393939;
    width: 259px;
}
.Zakaz2Cen > input {
    background-color: white;
}
.Zakaz2Cen {
    margin: 9px 0 11px 22px;
    color: #393939;
    padding: 2px 8px;
}
.Zakaz2But {
    background: none repeat scroll 0 0 #393939;
    border: 1px solid #ffd400;
    color: #ffd400;
    cursor: pointer;
    font-size: 30px !important;
    margin: 0 auto 5px;
    padding: 4px;
    width: 276px;

}
.Zakaz2Gar {
    font-family: conRegular;
    font-size: 18px;
    color: #393939;
    margin: 5px 0 -3px;
    padding: 0;
    text-align: center;
}
.Zakaz2Gar:first-child
{
    margin: 20px 0 -3px;
}
.Zakaz2Close
{
    color: #393939;
    background-color: #b7b8ba;
    border-radius: 10px;
    float: right;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #b7b8ba;
}

/*                             END                 */

/*              Zakaz3            */
::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {  
   color: #cfcfd1;  
}
.inInp
{
    color: #393939;
    text-align: left;
}
.Zakaz3Main {
    background-color: #b7b8ba;
    height: 540px;
    display: none;
    margin-top: 14px;
    position: fixed;
    padding: 0;
    left: 35%;
    z-index: 1000;
    text-align: center;
    width: 465px;
    color: #393939;
}
.Zakaz3Main>h2
{
    font-size: 45px;
}
.Zakaz3secondText {
    font-size: 18px;
    font-family: conRegular;
    color: #393939;
    line-height: 18px;
    margin: -18px 0 0 6px;
}
.Zakaz3Inp {
    margin: 0 auto 5px;
    color: #393939;
    width: 259px;
}
.Zakaz3Cen > input {
    background-color: white;
}
.Zakaz3Cen {
    margin: 9px 0 11px 22px;
    color: #393939;
    padding: 2px 8px;
}
.Zakaz3But {
    background: none repeat scroll 0 0 #393939;
    border: 1px solid #ffd400;
    color: #ffd400;
    cursor: pointer;
    font-size: 30px !important;
    margin: 0 auto 5px;
    padding: 4px;
    width: 276px;

}
.Zakaz3Gar {
    font-family: conRegular;
    font-size: 18px;
    color: #393939;
    margin: 5px 0 -3px;
    padding: 0;
    text-align: center;
}
.Zakaz3Gar:first-child
{
    margin: 20px 0 -3px;
}
.Zakaz3Close
{
    color: #393939;
    background-color: #b7b8ba;
    border-radius: 10px;
    float: right;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #b7b8ba;
}

/*                             END                 */

/*              Zakaz4            */
::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {  
   color: #cfcfd1;  
}
.inInp
{
    color: #393939;
    text-align: left;
}
.Zakaz4Main {
    background-color: #b7b8ba;
    height: 540px;
    display: none;
    margin-top: 14px;
    position: fixed;
    padding: 0;
    left: 35%;
    z-index: 1000;
    text-align: center;
    width: 465px;
    color: #393939;
}
.Zakaz4Main>h2
{
    font-size: 45px;
}
.Zakaz4secondText {
    font-size: 18px;
    font-family: conRegular;
    color: #393939;
    line-height: 18px;
    margin: -18px 0 0 6px;
}
.Zakaz4Inp {
    margin: 0 auto 5px;
    color: #393939;
    width: 259px;
}
.Zakaz4Cen > input {
    background-color: white;
}
.Zakaz4Cen {
    margin: 9px 0 11px 22px;
    color: #393939;
    padding: 2px 8px;
}
.Zakaz4But {
    background: none repeat scroll 0 0 #393939;
    border: 1px solid #ffd400;
    color: #ffd400;
    cursor: pointer;
    font-size: 30px !important;
    margin: 0 auto 5px;
    padding: 4px;
    width: 276px;

}
.Zakaz4Gar {
    font-family: conRegular;
    font-size: 18px;
    color: #393939;
    margin: 5px 0 -3px;
    padding: 0;
    text-align: center;
}
.Zakaz4Gar:first-child
{
    margin: 20px 0 -3px;
}
.Zakaz4Close
{
    color: #393939;
    background-color: #b7b8ba;
    border-radius: 10px;
    float: right;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #b7b8ba;
}

/*                             END                 */

/*              Zakaz5            */
::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {  
   color: #cfcfd1;  
}
.inInp
{
    color: #393939;
    text-align: left;
}
.Zakaz5Main {
    background-color: #b7b8ba;
    height: 540px;
    display: none;
    margin-top: 14px;
    position: fixed;
    padding: 0;
    left: 35%;
    z-index: 1000;
    text-align: center;
    width: 465px;
    color: #393939;
}
.Zakaz5Main>h2
{
    font-size: 45px;
}
.Zakaz5secondText {
    font-size: 18px;
    font-family: conRegular;
    color: #393939;
    line-height: 18px;
    margin: -18px 0 0 6px;
}
.Zakaz5Inp {
    margin: 0 auto 5px;
    color: #393939;
    width: 259px;
}
.Zakaz5Cen > input {
    background-color: white;
}
.Zakaz5Cen {
    margin: 9px 0 11px 22px;
    color: #393939;
    padding: 2px 8px;
}
.Zakaz5But {
    background: none repeat scroll 0 0 #393939;
    border: 1px solid #ffd400;
    color: #ffd400;
    cursor: pointer;
    font-size: 30px !important;
    margin: 0 auto 5px;
    padding: 4px;
    width: 276px;

}
.Zakaz5Gar {
    font-family: conRegular;
    font-size: 18px;
    color: #393939;
    margin: 5px 0 -3px;
    padding: 0;
    text-align: center;
}
.Zakaz5Gar:first-child
{
    margin: 20px 0 -3px;
}
.Zakaz5Close
{
    color: #393939;
    background-color: #b7b8ba;
    border-radius: 10px;
    float: right;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #b7b8ba;
}

/*                             END                 */

/*              Zakaz6            */
::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {  
   color: #cfcfd1;  
}
.inInp
{
    color: #393939;
    text-align: left;
}
.Zakaz6Main {
    background-color: #b7b8ba;
    height: 540px;
    display: none;
    margin-top: 14px;
    position: fixed;
    padding: 0;
    left: 35%;
    z-index: 1000;
    text-align: center;
    width: 465px;
    color: #393939;
}
.Zakaz6Main>h2
{
    font-size: 45px;
}
.Zakaz6secondText {
    font-size: 18px;
    font-family: conRegular;
    color: #393939;
    line-height: 18px;
    margin: -18px 0 0 6px;
}
.Zakaz6Inp {
    margin: 0 auto 5px;
    color: #393939;
    width: 259px;
}
.Zakaz6Cen > input {
    background-color: white;
}
.Zakaz6Cen {
    margin: 9px 0 11px 22px;
    color: #393939;
    padding: 2px 8px;
}
.Zakaz6But {
    background: none repeat scroll 0 0 #393939;
    border: 1px solid #ffd400;
    color: #ffd400;
    cursor: pointer;
    font-size: 30px !important;
    margin: 0 auto 5px;
    padding: 4px;
    width: 276px;

}
.Zakaz6Gar {
    font-family: conRegular;
    font-size: 18px;
    color: #393939;
    margin: 5px 0 -3px;
    padding: 0;
    text-align: center;
}
.Zakaz6Gar:first-child
{
    margin: 20px 0 -3px;
}
.Zakaz6Close
{
    color: #393939;
    background-color: #b7b8ba;
    border-radius: 10px;
    float: right;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #b7b8ba;
}

/*                             END                 */

/*              Zakaz7            */
::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {  
   color: #cfcfd1;  
}
.inInp
{
    color: #393939;
    text-align: left;
}
.Zakaz7Main {
    background-color: #b7b8ba;
    height: 540px;
    display: none;
    margin-top: 14px;
    position: fixed;
    padding: 0;
    left: 35%;
    z-index: 1000;
    text-align: center;
    width: 465px;
    color: #393939;
}
.Zakaz7Main>h2
{
    font-size: 45px;
}
.Zakaz7secondText {
    font-size: 18px;
    font-family: conRegular;
    color: #393939;
    line-height: 18px;
    margin: -18px 0 0 6px;
}
.Zakaz7Inp {
    margin: 0 auto 5px;
    color: #393939;
    width: 259px;
}
.Zakaz7Cen > input {
    background-color: white;
}
.Zakaz7Cen {
    margin: 9px 0 11px 22px;
    color: #393939;
    padding: 2px 8px;
}
.Zakaz7But {
    background: none repeat scroll 0 0 #393939;
    border: 1px solid #ffd400;
    color: #ffd400;
    cursor: pointer;
    font-size: 30px !important;
    margin: 0 auto 5px;
    padding: 4px;
    width: 276px;

}
.Zakaz7Gar {
    font-family: conRegular;
    font-size: 18px;
    color: #393939;
    margin: 5px 0 -3px;
    padding: 0;
    text-align: center;
}
.Zakaz7Gar:first-child
{
    margin: 20px 0 -3px;
}
.Zakaz7Close
{
    color: #393939;
    background-color: #b7b8ba;
    border-radius: 10px;
    float: right;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #b7b8ba;
}

/*                             END                 */

/*              Zakaz8            */
::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {  
   color: #cfcfd1;  
}
.inInp
{
    color: #393939;
    text-align: left;
}
.Zakaz8Main {
    background-color: #b7b8ba;
    height: 540px;
    display: none;
    margin-top: 14px;
    position: fixed;
    padding: 0;
    left: 35%;
    z-index: 1000;
    text-align: center;
    width: 465px;
    color: #393939;
}
.Zakaz8Main>h2
{
    font-size: 45px;
}
.Zakaz8secondText {
    font-size: 18px;
    font-family: conRegular;
    color: #393939;
    line-height: 18px;
    margin: -18px 0 0 6px;
}
.Zakaz8Inp {
    margin: 0 auto 5px;
    color: #393939;
    width: 259px;
}
.Zakaz8Cen > input {
    background-color: white;
}
.Zakaz8Cen {
    margin: 9px 0 11px 22px;
    color: #393939;
    padding: 2px 8px;
}
.Zakaz8But {
    background: none repeat scroll 0 0 #393939;
    border: 1px solid #ffd400;
    color: #ffd400;
    cursor: pointer;
    font-size: 30px !important;
    margin: 0 auto 5px;
    padding: 4px;
    width: 276px;

}
.Zakaz8Gar {
    font-family: conRegular;
    font-size: 18px;
    color: #393939;
    margin: 5px 0 -3px;
    padding: 0;
    text-align: center;
}
.Zakaz8Gar:first-child
{
    margin: 20px 0 -3px;
}
.Zakaz8Close
{
    color: #393939;
    background-color: #b7b8ba;
    border-radius: 10px;
    float: right;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #b7b8ba;
}

/*                             END                 */

/*              Zakaz9            */
::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {  
   color: #cfcfd1;  
}
.inInp
{
    color: #393939;
    text-align: left;
}
.Zakaz9Main {
    background-color: #b7b8ba;
    height: 540px;
    display: none;
    margin-top: 14px;
    position: fixed;
    padding: 0;
    left: 35%;
    z-index: 1000;
    text-align: center;
    width: 465px;
    color: #393939;
}
.Zakaz9Main>h2
{
    font-size: 45px;
}
.Zakaz9secondText {
    font-size: 18px;
    font-family: conRegular;
    color: #393939;
    line-height: 18px;
    margin: -18px 0 0 6px;
}
.Zakaz9Inp {
    margin: 0 auto 5px;
    color: #393939;
    width: 259px;
}
.Zakaz9Cen > input {
    background-color: white;
}
.Zakaz9Cen {
    margin: 9px 0 11px 22px;
    color: #393939;
    padding: 2px 8px;
}
.Zakaz9But {
    background: none repeat scroll 0 0 #393939;
    border: 1px solid #ffd400;
    color: #ffd400;
    cursor: pointer;
    font-size: 30px !important;
    margin: 0 auto 5px;
    padding: 4px;
    width: 276px;

}
.Zakaz9Gar {
    font-family: conRegular;
    font-size: 18px;
    color: #393939;
    margin: 5px 0 -3px;
    padding: 0;
    text-align: center;
}
.Zakaz9Gar:first-child
{
    margin: 20px 0 -3px;
}
.Zakaz9Close
{
    color: #393939;
    background-color: #b7b8ba;
    border-radius: 10px;
    float: right;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #b7b8ba;
}

/*                             END                 */
#ourworks,#demand, #contacts, #schema , section#preimushestva {
margin-top: -146px;
position: absolute;
}

.fotorama__stage__shaft>.fotorama__loaded, .fotorama__stage__frame >img.fotorama__img {
    width: 707px!important;
    height: 442px!important;
  }
  .fotorama__wrap
  {
    width: 100%!important;
  }
  .fotorama >.fotorama__wrap--css3
  {

  }
  .fotorama__wrap--css3>.fotorama__pointer, .fotorama__wrap--css3>.fotorama__stage
  {
    height: 442px!important;
  }
  .fotorama__nav__shaft
  {
    transform: translate3d(0px, 0px, 0px)!important;
  }
  .fotorama__nav__shaft>.fotorama__active {
    top: 0;
    padding: 0!important;
    left: 0;
    border-style: solid;
    border-color: #00afea;
  }
  .fotorama__thumb-border
  {
    display: none;
  }

  /*              thank            */
.allOfAll
{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 5000;
    /*display: none;*/
    background-image: url("../img/1header/bg_4.png");

}
::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {  
   color: #cfcfd1;  
}
.inInp
{
    color: #393939;
    text-align: left;
}
.thankMain {
    background-color: #b7b8ba;
    /*display: none;*/
    margin-top: 240px;
    border-radius: 10px;
    position: fixed;
    padding: 40px;
    left: 35%;
    z-index: 1000;
    text-align: center;
    width: 365px;
    color: #393939;
}
.thankMain>h2
{
    font-size: 36px;
    font-size: 36px;
font-family: conRegular;
color: #393939;
margin: -25px 0 30px 0;
}
.thanksecondText {
    font-size: 18px;
    font-family: conRegular;
    color: #393939;
    line-height: 18px;
}
.thankInp {
    margin: 0 auto 5px;
    color: #393939;
    width: 259px;
}
.thankCen > input {
    background-color: white;
}
.thankCen {
    margin: 9px 0 11px 22px;
    color: #393939;
    padding: 2px 8px;
}
.thankBut {
    background: none repeat scroll 0 0 #393939;
    border: 1px solid #ffd400;
    color: #ffd400;
    cursor: pointer;
    font-size: 30px !important;
    margin: 0 auto 5px;
    padding: 4px;
    width: 276px;

}
.thankGar {
    font-family: conRegular;
    font-size: 18px;
    color: #393939;
    margin: 5px 0 -3px;
    padding: 0;
    text-align: center;
}
.thankGar:first-child
{
    margin: 20px 0 -3px;
}
.thankClose
{
    color: #393939;
    background-color: #b7b8ba;
    border-radius: 10px;
    float: right;
    margin: -35px -25px 0 0;
    cursor: pointer;
    border: 1px solid #b7b8ba;
}

/*                             END                 */


@media screen and (max-width: 650px) {
 .bgAllTitles>.textAlignCenter>.cBlue {
    min-width: 100px;
    }
    #whatyouget
    {
        min-width: 320px;
    }
    #faktsaboutus
    {
     min-width: 100px!important;   
    }
    .headerTitle1White
    {
        min-width: 170px;
    }
    #ingifts
    {
        min-width: 130px;    
    }
    .rightFormHeader2 {
        min-width: 155px;
    }
    #costofyour
    {
        min-width: 115px;
    }
    #inpodarok
    {
        min-width: 70px;    
    }
    #designprojectin
    {
        min-width: 110px;       
    }

    #carousel-gallery2
    {
        width: 100%!important;
    }
    div#carousel-ajax-container {
        width: 100%!important;
    }
    .touchcarousel-wrapper {
        width: 100%!important;
    }
    ul.touchcarousel-container {
        width: 999999px!important;
    }
 }

  /*
  .fotorama__active
  {
    border-left-width: 8px;
    border-left-style: solid;
    border-left-color: white;
    border-right-width: 8px;
    border-right-style: solid;
    border-right-color: white;
  }

  .fotorama__stage__shaft>.fotorama__loaded--img:nth-child(3)
  {
    left: -220px!important;
  }*/