@font-face
{
font-family: PFD_Light;
src: url("../style/PFDinTextCondPro-Light.ttf");
}
@font-face{	font-family: conRegular;	src: url("../style/pfdintextcondpro-regular-webfont.ttf");}
.timer {margin:7px 0px 0px 30px;width:270px; height:85px; background:url("timer-container-bg.png") no-repeat 5px -2px;position:relative; }
.timer .container { width: 280px;
height: 80px; 
right: 24px; }
.timer .container div {height: 55px; width: 27px; float: left; position:relative;}
.timer {margin-right:5px; margin-right:5px;}
div.hourPlay, div.dayPlay, div.minutePlay, div.secondPlay {background: url('timer0_9.png') repeat 0 0; margin-top: 1px}
div.minute6Play, div.second6Play {background: url('timer0_5_l.png') repeat 0 0; margin: 1px 0 0 11px;}
div.hour2Play, div.day1Play {background: url('timer0_2_l.png') repeat 0 0; margin: 1px 0 0 11px;}
.timer .container em {position: absolute;
bottom: -25px;
text-align: center;
font-size:18px;
font-style: normal;
width: 57px;
	font-family:conRegular;
left: -30px; color: #393939;}
.timer .container .txtHeader {position: absolute;
bottom: -25px;
text-align: center;
font-size:16px;
font-style: normal;
width: 57px;
	font-family:PFD_Light;
left: -30px; color: white;}

#countdown_dashboard{
	width: 320px;
	margin: 0 auto;
	height: 80px;
}

#countdown_dashboard3{
	width: 320px;
	margin: -8px -22px 0 0;
	height: 80px;
	float: right;
}
#countdown_dashboard2
{
	width: 320px;
	margin: 0 -23px 0 18px;
	height: 80px;
	text-align: right;
	float: right;
}
.dash {
	width: 60px;
	height: 75px;
	background: transparent url('../img/dash.png') 0 0 no-repeat;
	float: left;
	margin-left: 15px;
	position: relative;
}

.dash .digit {
	font-size: 27pt;
	font-weight: normal;
	float: left;
	width: 30px;
	line-height: 30px;
	padding-top: 11px;
	text-align: center;
	font-family: PFD_Bold;
	color: #393939;
	position: relative;
}

.dash_title {
	position: absolute;
	display: block;
	bottom: 0px;
	right: 6px;
	font-size: 9pt;
	color: #393939;
	text-transform: uppercase;
	letter-spacing: 2px;
}