.example {
    text-align: center;
}

.slider {
    display: inline-block;
}

.page {
    width: 300px;
    height: 100px;  
    border-radius: 2px;
    box-shadow: inset 0 0 6px 0 rgba(0,0,0,0.4);
    background-repeat: no-repeat;
    background-size: cover;
}

.page:nth-child(1) {
    background-image: url('images/1.jpg');
}
.page:nth-child(2) {
    background-image: url('images/2.jpg');
}
.page:nth-child(3) {
    background-image: url('images/3.jpg');
}
.page:nth-child(4) {
    background-image: url('images/4.jpg');
}
.page:nth-child(5) {
    background-image: url('images/5.jpg');
}
.page:nth-child(6) {
    background-image: url('images/6.jpg');
}
.page:nth-child(7) {
    background-image: url('images/7.jpg');
}
.page:nth-child(8) {
    background-image: url('images/8.jpg');
}