<section class="container" style="width:1355px;">
<section id="ourworks"></section>
<section class="bgAllTitles">
	<section class="textAlignCenter">
		<h1 class="cGray inlineTable textTitle" style="margin: 5px 9px 0px -9px;">НАШИ </h1>
        <h1 class="cBlue inlineTable textTitle">РАБОТЫ</h1>
	</section>
</section>
</section>

<div id="carousel-ajax-container" style="height: 430px; width: 100%;">
<a class="arrow-holder left disabled" href="#"><span class="arrow-icon left"></span></a>
<div id="carousel-gallery2" class="touchcarousel black-and-white wide-carousel">  
				<ul class="touchcarousel-container">
					<li class="touchcarousel-item">
						<a title="" data-fancybox-group="pr1" href="images/1.png" class="fancybox zoom">
						</a>			
						<img class="carousel-img" src="images/1.png"  style="height:349px !important"/>			
					</li>
<li class="touchcarousel-item">
						<a title="" data-fancybox-group="pr1" href="images/2.jpg" class="fancybox zoom">
						</a>			
						<img class="carousel-img" src="images/2.jpg"  style="height:349px !important"/>			
					</li>
<li class="touchcarousel-item">
						<a title="" data-fancybox-group="pr1" href="images/3.jpg" class="fancybox zoom">
						</a>			
						<img class="carousel-img" src="images/3.jpg"  style="height:349px !important"/>			
					</li>
<li class="touchcarousel-item">
						<a title="" data-fancybox-group="pr1" href="images/4.jpg" class="fancybox zoom">
						</a>			
						<img class="carousel-img" src="images/4.jpg"  style="height:349px !important"/>			
					</li>
<li class="touchcarousel-item">
						<a title="" data-fancybox-group="pr1" href="images/5.jpg" class="fancybox zoom">
						</a>			
						<img class="carousel-img" src="images/5.jpg"  style="height:349px !important"/>			
					</li>
<li class="touchcarousel-item">
						<a title="" data-fancybox-group="pr1" href="images/6.jpg" class="fancybox zoom">
						</a>			
						<img class="carousel-img" src="images/6.jpg"  style="height:349px !important"/>			
					</li>
<li class="touchcarousel-item">
						<a title="" data-fancybox-group="pr1" href="images/7.jpg" class="fancybox zoom">
						</a>			
						<img class="carousel-img" src="images/7.jpg"  style="height:349px !important"/>			
					</li>
<li class="touchcarousel-item">
						<a title="" data-fancybox-group="pr1" href="images/8.jpg" class="fancybox zoom">
						</a>			
						<img class="carousel-img" src="images/8.jpg"  style="height:349px !important"/>			
					</li>
<li class="touchcarousel-item">
						<a title="" data-fancybox-group="pr1" href="images/9.jpg" class="fancybox zoom">
						</a>			
						<img class="carousel-img" src="images/9.jpg"  style="height:349px !important"/>			
					</li>
<li class="touchcarousel-item">
						<a title="" data-fancybox-group="pr1" href="images/10.jpg" class="fancybox zoom">
						</a>			
						<img class="carousel-img" src="images/10.jpg"  style="height:349px !important"/>			
					</li>
<li class="touchcarousel-item">
						<a title="" data-fancybox-group="pr1" href="images/11.jpg" class="fancybox zoom">
						</a>			
						<img class="carousel-img" src="images/11.jpg"  style="height:349px !important"/>			
					</li>
<li class="touchcarousel-item">
						<a title="" data-fancybox-group="pr1" href="images/12.jpg" class="fancybox zoom">
						</a>			
						<img class="carousel-img" src="images/12.jpg"  style="height:349px !important"/>			
					</li>
<li class="touchcarousel-item">
						<a title="" data-fancybox-group="pr1" href="images/13.jpg" class="fancybox zoom">
						</a>			
						<img class="carousel-img" src="images/13.jpg"  style="height:349px !important"/>			
					</li>
<li class="touchcarousel-item">
						<a title="" data-fancybox-group="pr1" href="images/14.jpg" class="fancybox zoom">
						</a>			
						<img class="carousel-img" src="images/14.jpg"  style="height:349px !important"/>			
					</li>
<li class="touchcarousel-item">
						<a title="" data-fancybox-group="pr1" href="images/15.jpg" class="fancybox zoom">
						</a>			
						<img class="carousel-img" src="images/15.jpg"  style="height:349px !important"/>			
					</li>
<li class="touchcarousel-item">
						<a title="" data-fancybox-group="pr1" href="images/16.jpg" class="fancybox zoom">
						</a>			
						<img class="carousel-img" src="images/16.jpg"  style="height:349px !important"/>			
					</li>
<li class="touchcarousel-item">
						<a title="" data-fancybox-group="pr1" href="images/17.jpg" class="fancybox zoom">
						</a>			
						<img class="carousel-img" src="images/17.jpg"  style="height:349px !important"/>			
					</li>
<li class="touchcarousel-item">
						<a title="" data-fancybox-group="pr1" href="images/18.jpg" class="fancybox zoom">
						</a>			
						<img class="carousel-img" src="images/18.jpg"  style="height:349px !important"/>			
					</li>
<li class="touchcarousel-item">
						<a title="" data-fancybox-group="pr1" href="images/19.jpg" class="fancybox zoom">
						</a>			
						<img class="carousel-img" src="images/19.jpg"  style="height:349px !important"/>			
					</li>
<li class="touchcarousel-item">
						<a title="" data-fancybox-group="pr1" href="images/20.jpg" class="fancybox zoom">
						</a>			
						<img class="carousel-img" src="images/20.jpg"  style="height:349px !important"/>			
					</li>
<li class="touchcarousel-item">
						<a title="" data-fancybox-group="pr1" href="images/21.jpg" class="fancybox zoom">
						</a>			
						<img class="carousel-img" src="images/21.jpg"  style="height:349px !important"/>			
					</li>
<li class="touchcarousel-item">
						<a title="" data-fancybox-group="pr1" href="images/22.jpg" class="fancybox zoom">
						</a>			
						<img class="carousel-img" src="images/22.jpg"  style="height:349px !important"/>			
					</li>
<li class="touchcarousel-item">
						<a title="" data-fancybox-group="pr1" href="images/23.jpg" class="fancybox zoom">
						</a>			
						<img class="carousel-img" src="images/23.jpg"  style="height:349px !important"/>			
					</li>
<li class="touchcarousel-item">
						<a title="" data-fancybox-group="pr1" href="images/24.jpg" class="fancybox zoom">
						</a>			
						<img class="carousel-img" src="images/24.jpg"  style="height:349px !important"/>			
					</li>
<li class="touchcarousel-item">
						<a title="" data-fancybox-group="pr1" href="images/25.jpg" class="fancybox zoom">
						</a>			
						<img class="carousel-img" src="images/25.jpg"  style="height:349px !important"/>			
					</li>
<li class="touchcarousel-item">
						<a title="" data-fancybox-group="pr1" href="images/26.jpg" class="fancybox zoom">
						</a>			
						<img class="carousel-img" src="images/26.jpg"  style="height:349px !important"/>			
					</li>
					
				</ul>
			</div>
			</div>

