
inputCenterStyle {
    border: medium none;
}
:-moz-placeholder {
    color: #393939;
    opacity: 1;
}
*::-moz-placeholder {
    color: #393939;
    opacity: 1;
}
@font-face {
    font-family: "comLight";
    src: url("../style/pfdintextcomppro-light-webfont.ttf");
}
@font-face {
    font-family: "conRegular";
    src: url("../style/pfdintextcondpro-regular-webfont.ttf");
}
@font-face {
    font-family: "conMedium";
    src: url("../style/pfdintextcondpro-medium-webfont.ttf");
}
@font-face {
    font-family: "comRegular";
    src: url("../style/pfdintextcomppro-regular-webfont.ttf");
}
@font-face {
    font-family: "comMedium";
    src: url("../style/pfdintextcomppro-medium-webfont.ttf");
}
@font-face {
    font-family: "PFD_Bold";
    src: url("../style/PFDinTextCondPro-Bold.ttf");
}
@font-face {
    font-family: "PFD_BoldItal";
    src: url("../style/PFDinTextCondPro-BoldItal.ttf");
}
@font-face {
    font-family: "PFD_Italic";
    src: url("../style/PFDinTextCondPro-Italic.ttf");
}
@font-face {
    font-family: "PFD_Light";
    src: url("../style/PFDinTextCondPro-Light.ttf");
}
@font-face {
    font-family: "PFD_LightItal";
    src: url("../style/PFDinTextCondPro-LightItal.ttf");
}
@font-face {
    font-family: "PFD_MedItal";
    src: url("../style/PFDinTextCondPro-MedItal.ttf");
}
@font-face {
    font-family: "PFD_Medium";
    src: url("../style/PFDinTextCondPro-Medium.ttf");
}
@font-face {
    font-family: "PFD_Regular";
    src: url("../style/PFDinTextCondPro-Regular.ttf");
}
@font-face {
    font-family: "PFD_Thin";
    src: url("../style/PFDinTextCondPro-Thin.ttf");
}
@font-face {
    font-family: "PFD_ThinItal";
    src: url("../style/PFDinTextCondPro-ThinItal.ttf");
}
@font-face {
    font-family: "PFD_XBlack";
    src: url("../style/PFDinTextCondPro-XBlack.ttf");
}
@font-face {
    font-family: "PFD_XBlackItal";
    src: url("../style/PFDinTextCondPro-XBlackItal.ttf");
}
@font-face {
    font-family: "PFD_XThin";
    src: url("../style/PFDinTextCondPro-XThin.ttf");
}
@font-face {
    font-family: "PFD_XThinItal";
    src: url("../style/PFDinTextCondPro-XThinItal.ttf");
}
@font-face {
    font-family: "PF";
    src: url("../style/PFDinTextCondPro-Regular.ttf");
}
@font-face {
    font-family: "PFbold";
    src: url("../style/PFDinTextCondPro-Medium.ttf");
}
body, p, section, header, label, small, h4, h3, h1, h2, i {
    color: white;
    font-family: conMedium;
    text-rendering: optimizelegibility !important;
}
h1, h2, h3, h4, h5 {
    font-weight: 400;
}
h3 {
    margin: -17px 0;
}
p {
    font-size: 18pt;
}
.fMedium {
    font-family: PFD_Medium;
}
.fThin {
    font-family: PFD_Thin;
}
.fLight {
    font-family: PFD_Light;
}
.cGray {
    color: #393939;
}
.cYellow {
    color: #f7cd03;
}
.cBlack {
    color: black;
}
.cRed {
    color: #af0116;
}
.cWhite {
    color: white;
}
.cBlue {
    color: #00ccff;
}
.allBg {
    width: 100%;
}
.headerBG {
    background: url("../img/bgnew.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 780px;
}
.galleryBG {
    background: url("../img/8gallery/bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 770px;
    width: 940px;
}
.worksBG {
    background: url("../img/10works/bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 940px;
}
.justBg {
    background: url("../img/13just/bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 485px;
}
.tasksBg {
    height: 582px;
    margin-top: 4px;
}
.zakazBg {
    height: 195px;
}
.centerBg {
    background: url("../img/6centr/bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 485px;
}
.profBG {
    background: url("../img/7prof/bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 485px;
}
.aboutBG {
    background: url("../img/12about/bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 790px;
}
.giveBG {
    background: url("../img/11give/bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 510px;
}
.faktsBG {
    background: url("../img/5fakts/bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 570px;
}
.benefitsBG {
    background: url("../img/4benefits/bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 517px;
}
.designBG {
    background: url("../img/3design/bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 710px;
    margin-top: -1px;
}
.allContainerBg {
    width: 940px;
}
.headerContBg {
    height: 100%;
}
.fontRegular {
    font-family: PFD_Regular;
}
.fontThin {
    font-family: PFD_Thin;
}
.fontBold {
    font-family: PFD_Bold;
}
.textAlignCenter {
    text-align: center;
}
.bgAllTitles {
    background: none repeat scroll 0 0 #c8cad1;
    height: 98px;
}
.bgAllTitles3 {
    background: none repeat scroll 0 0 #c8cad1;
    height: 170px;
    vertical-align: middle;
}
.bgAllTitles2 {
    background: none repeat scroll 0 0 #d3d3d3;
    height: 95px;
}
.size11 {
    font-size: 11pt;
}
.size12 {
    font-size: 12pt;
}
.size30 {
    font-size: 30pt;
}
.size40 {
    font-size: 40pt;
}
.size15 {
    font-size: 15pt;
}
.size16 {
    font-size: 16pt;
}
.size27 {
    font-size: 27pt;
}
.size22 {
    font-size: 22pt;
}
.size29 {
    font-size: 29pt;
}
.textTitle {
    font-family: comMedium;
    font-size: 60px;
    height: 45px;
    letter-spacing: -3px;
    margin: 0;
    padding: 32px 0 9px;
    vertical-align: middle;
}
.textTitle2 {
    font-size: 47pt;
    height: 45px;
    letter-spacing: -1px;
    margin: 40px 0 0;
    padding: 27px 0 22px;
    vertical-align: middle;
}
.width229 {
    width: 229px;
}
.nadDoveriem {
    font-family: conRegular;
    font-size: 16px;
    margin: 26px 2px 18px;
}
.btnSubmitHeader {
    background: none repeat scroll 0 0 #393939;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    font-size: 32px !important;
    margin: 0 auto 5px;
    padding: 4px;
    text-transform: lowercase;
    width: 270px;
}
.rightFormHeader7 {
    margin: 0 auto 15px;
    width: 259px;
}
.rightFormHeader6 {
    margin: 0 auto 5px;
    width: 259px;
}
.rightFormHeader5 {
    font-size: 24px;
    font-family: conRegular;
    margin: -18px 0 0 6px;
}
.rightFormHeader4 {
    background-color: #00ccff;
    border: 1px solid black;
    height: 353px;
    margin-top: 14px;
    padding: 0;
    text-align: center;
    width: 300px;
}
.textRightGarantiya {
    font-family: conRegular;
    font-size: 14px;
    margin: 0 0 -3px;
    padding: 0;
    text-align: center;
}
#sbmBtnCntr {
    border-radius: 10px;
    margin: 2px 0 0;
    font-size: 36px;
    padding: 16px;
    text-transform: lowercase;
    width: 275px;
}
.rightFormHeader {
    background-color: #22242b;
    border: 1px solid black;
    border-radius: 10px;
    height: 227px;
    margin: 4px 0 0;
    padding: 0;
    text-align: center;
    width: 300px;
}
.brandsHeader {
    background: url("../img/1header/bg_3.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin-top: 27px;
    padding: 0;
    width: 638px;
    height: 100px;
}
.brandsHeader > img
{
    margin: 3px -1px 0px 4px;
}
.namDoveryayut {
    font-family: conMedium;
    font-size: 28px;
    margin: 21px 0 0 0;
    text-align: center;
}
.header20per {
    font-size: 30pt;
    margin-left: 0;
}
.circleTextHeader {
    width: 120px;
}
.podmenuHeaderLine {
    margin: 8px 77px 0 0;
}
.menuHeaderLine {
    background-color: #00ccff;
    height: 48px;
    margin: 5px 0 0;
    width: 100%;
}
.zakazatHeader {
    font-size: 10pt;
    margin-top: -5px;
}
.numberHeader {
    margin: 6px -2px 0 25px;
    text-align: right;
    width: 260px;
}
.headOfHeader {
    height: 145px;
    margin: 1px 0 -1px 0;
}
.logo {
    height: 70px;
    margin: 5px 20px 5px 2px;
    width: 70px;
}
.star {
    height: 45px;
    width: 47px;
}
.inlineBlockI {
    display: inline-table;
    padding: 0 4px 0 8px;
}
.designProjectText1 {
    color: #393939;
    font-family: conRegular;
    font-size: 24px;
    margin-bottom: 8px;
    display: inline-table;
}
.designProjectText1-1 {
    color: #393939;
    display: inline-table;
    font-family: conMedium;
    font-size: 24px;
    margin-bottom: 8px;
}
.inlineBlock {
    display: inline-table;
}
.inlB {
    display: inline-block;
}
.verMiddle {
    vertical-align: middle;
}
.inline {
    display: inline;
}
.inputCenterStyleHeader > input {
    background-color: #00ccff;
}
.inputCenterStyleHeader {
    border: 2px solid white;
    margin: 9px 0 11px 13px;
    padding: 2px 8px;
}
.circle5 {
    font-size: 36px;
    margin: 0 auto;
    padding: 26px 0 0;
    text-align: center;
    vertical-align: middle;
}
.circle4 {
    background-image: url("../img/1header/bg_4.png");
    border-radius: 50%;
    font-size: 26pt;
    height: 80px;
    margin: 0 12px 4px 16px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 79px;
}
.smallText {
    font-family: conRegular;
    font-size: 16px;
    margin: 0 0 -7px -12px;
    padding: 0;
    text-align: center;
}
.smallTextCircle {
    font-family: conRegular;
    font-size: 16px;
    margin: 5px 0 0;
    padding: 0;
    text-align: center;
}
.headerTitle1White {
    color: white;
    font-family: comRegular;
    font-size: 30px;
    margin: 4px 0 0;
}
.headerTitle1Blue {
    color: #00ccff;
    font-family: comRegular;
    font-size: 30px;
    margin: -12px 0 0;
}
.headerTitle2White, .headerTitle2Blue {
    color: white;
    display: inline;
    font-family: conMedium;
    font-size: 18px;
    margin: 0 0 0 1px;
}
.headerTitle2Blue, .headerTitle3Blue {
    color: #00ccff;
    margin: 0 0 0 1px;
}
.headerTitle3White, .headerTitle3Blue {
    display: inline;
    font-family: conMedium;
    font-size: 30px;
}
.headerTitle4Blue {
    color: #00ccff;
    font-family: conMedium;
    font-size: 16px;
    letter-spacing: 0;
    margin: 5px 6px 0 0;
}
.asdfg {
    margin: 0 19px 0 0;
}
.headerTitle3Blue {
    margin: 0 4px 0 -3px;
}
.menuText,.menuText a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-family: comMedium;
    font-size: 30px;
    margin: 7px -6px 5px 18px;
    padding: 0;
}
.textLeftHeader6 {
    font-family: conMedium;
    font-size: 32px;
    margin: 0 0 0 1px;
}
.textLeftHeader5 {
    font-family: conMedium;
    font-size: 32px;
    margin: 0 3px;
}
.textLeftHeader4 {
    font-family: conMedium;
    font-size: 32px;
    margin: 16px 0 19px 4px;
}
.textLeftHeader3 {
    float: left;
    margin-top: 5px;
    text-align: left;
}
.textLeftHeader2 {
    text-align: left;
    width: 525px;
}
.textLeftHeader1 {
    background-color: #00ccff;
    height: 45px;
    margin: 15px 0;
    padding: 2px 0;
    width: 597px;
}
.designHeader {
    font-family: conMedium;
    font-size: 52px;
    margin: 11px 0;
}
.profTextHeader {
    cursor: pointer;
    font-family: conMedium;
    font-size: 29px;
    margin: 12px 2px;
    padding: 0;
    text-align: left;
    width: 650px;
}
.rightFormHeader3 {
    font-family: conMedium;
    font-size: 22px;
    margin: -3px 0 0 9px;
}
.rightFormHeader2 {
    font-family: conMedium;
    font-size: 21px;
    margin: -3px 0 0 17px;
}
.basfa section, .basfa {
    font-family: conRegular;
    font-size: 16px;
    margin: -4px -5px 2px 4px;
}
.fullTextOfSliderTasks {
    color: black;
    display: none;
    font-family: conRegular;
    font-size: 24px;
    letter-spacing: 0px;
    margin-left: 5px;
    text-align: justify;
    text-align-last:left;
    -moz-text-align-last:left;
}
.fullTextOfSliderTasks > .jir
{
    color: black;
    display: inline;
    font-family: conMedium;
}
.blueTextOfSliderTasks {
    display: inline;
    font-family: conMedium;
    font-size: 24px;
    letter-spacing: 0px;
    vertical-align: top;
}
.textOfSliderTasks {
    margin: 26px 0;
    vertical-align: top;
    width: 485px;
    overflow:hidden !important;
}
.imgOfSliderTasks {
    height: 259px;
    margin: 22px 13px 20px 48px;
    width: 231px;
}
.imgTasks {
    height: 50px;
    margin: 0 3px 0 0;
    width: 50px;
}
.buttersSP {
    cursor: pointer;
    display: inline-block;
    margin: 30px 14px 0px 0px;
    padding: 0px 0px 23px 0px;
    width: 231px;
}
.buttersSPLast {
    cursor: pointer;
    display: inline-block;
    margin: 30px 0 0 -27px;
    padding: 8px 0;
    width: 216px;
}
.textTasks {
    font-family: conRegular;
    font-size: 24px;
    vertical-align: text-top;
    width: 174px;
    line-height: 24px;
}
.buttersSPLast .textTasks {
    width: 156px;
    margin: 0 0 0 0px;
}
.finalDivAaeee {
    border: 4px solid #00ccff;
    border-radius: 4px;
    height: 300px;
    margin: 15px auto 40px;
    width: 855px;
}
.tabs2 {
    background: none repeat scroll 0 0 white;
    border: 4px solid #00ccff;
    border-radius: 4px;
    color: #00ccff;
    cursor: pointer;
    font-size: 32pt;
    height: 27px;
    margin: -238px 0 0 855px;
    padding: 39px 25px;
    position: absolute;
    width: 25px;
}
.tabs {
    background: none repeat scroll 0 0 white;
    border: 4px solid #00ccff;
    border-radius: 4px;
    color: #00ccff;
    cursor: pointer;
    font-size: 32pt;
    margin: 105px 0 0 -44px;
    padding: 29px 25px;
    position: absolute;
    vertical-align: middle;
}
.oneText {
    font-family: PFD_Medium;
    font-size: 18px;
}
.twoTextR {
    float: right;
    margin: 10px 0 75px;
    text-align: right;
    width: 283px;
    font-family: conRegular;
    font-size: 16px;
}
.oneTextR {
    float: right;
    font-family: PFD_Medium;
    font-size: 18px;
    text-align: right;
}
.twoText {
    font-family: conRegular;
    font-size: 16px;
    margin: 13px 0 73px 3px;
    width: 260px;
}
.btnSup {
    background: none repeat scroll 0 0 #00ccff;
    border-radius: 6px;
    line-height:30px;
    color: white;
    cursor: pointer;
    font-family: comRegular;
    font-size: 36px;
    margin: 4px auto;
    padding: 17px 30px 18px;
    text-align: center;
    width: 301px;
}
.textCenterD {
    color: #ffd400;
    font-family: conRegular;
    line-height: 1;
    font-size: 24px;
    margin: 30px auto 0;
    text-align: center;
    width: 851px;
}
.bumL {
    text-align: right;
    width: 375px;
}
.secL {
    font-family: conRegular;
    font-size: 16px;
    margin-left: -19px;
    margin-top: 20px;
    padding: 10px 10px 10px 0;
    width: 402px;
    line-height: 20px;
}
.secL .pustBudetT, .secR .pustBudetT {
    color: black;
    display: inline;
    font-family: conMedium;
}
.footerL {
    font-family: comRegular;
    font-size: 48px;
    margin: 20px 0 0 10px;
    vertical-align: middle;
}
.headerL {
    font-family: conMedium;
    font-size: 18px;
    margin: 0 0 4px 0;
    text-align: right;
}
.bumR {
    text-align: left;
    width: 375px;
}
.benHeightNeed {
    height: 130px;
}
.secR {
    font-family: conRegular;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px 0 10px 2px;
    width: 375px;
    line-height:20px;
}
.footerR {
    font-family: comRegular;
    font-size: 48px;
    margin: 20px 10px 0 0;
    vertical-align: middle;
}
.headerR {
    font-family: conMedium;
    font-size: 18px;
    text-align: left;
    margin: 0 0 4px 0;
}
.blocks {
    border: 5px solid white;
    border-radius: 16px;
    color: white;
    height: 194px;
    margin: 5px 42px 20px 0;
    text-align: center;
    vertical-align: middle;
    width: 195px;
}
.numbers {
    font-family: conRegular;
    font-size: 72px;
    margin: 77px 0 18px;
    vertical-align: middle;
}
.textNiz {
    font-family: conRegular;
    font-size: 16px;
}
.blocks:hover {
    border: 5px solid #ffd400;
    color: #ffd400;
    cursor: pointer;
}
.blocks:hover .textNiz, .blocks:hover .numbers {
    color: #ffd400;
}
.size17 {
    font-size: 17pt;
}
.submitBtnCentr {
    background: none repeat scroll 0 0 #00ccff;
    border: 1px solid black;
    color: white;
    cursor: pointer;
    font-family: conMedium;
    font-size: 24pt;
    margin: 0 auto 5px;
    padding: 10px;
}
.inputCenterStyle {
    border: 1px solid black;
    margin: 0 14px 16px;
    padding: 3px 0;
    width: 275px;
}
.width270 {
    width: 270px;
}
.formLeftCentr {
    background: none repeat scroll 0 0 white;
    border: 1px solid black;
    border-radius: 10px;
    height: 385px;
    margin: 28px 0 0;
    width: 300px;
    padding: 0;
    text-align: center;
}
.timerLeftCentr2 {
    font-family: conMedium;
    font-size: 52px;
}
.timerLeftCentr {
    margin-top: 115px;
    text-align: right;
}
.timerLeftCentr h3, .timerLeftCentr h4, .timerLeftCentr h2 .timerLeftCentr h1, .timerLeftCentr div {
    font-family: conRegular;
}
.imgGallery {
    height: 715px;
    width: 1355px;
}
.titleDemand {
    font-family: conRegular;
    font-size: 36px;
    margin: 0;
    padding: 20px 0 15px;
}
.podTitleDemand {
    font-family: conRegular;
    font-size: 36px;
    margin-top: 15px 0 0 6px;
}
.bum ul li {
    color: #00ccff;
    list-style-type: disc;
}
.bum ul li p {
    color: black;
    font-family: conRegular;
    font-size: 18px;
    margin: 17px 0 -5px 2px;
    padding: 0;
    text-align: left;
}
.bum ul li label, .bum ul li p label {
    color: black;
    cursor: auto;
    display: inline;
    font-family: conMedium;
    font-size: 18px;
}
.btnVip {
    background-color: white;
    border: 4px solid #00ccff;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    font-family: conRegular;
    font-size: 36px;
    padding: 16px 0;
    height: 19px;
    width: 252px;
}
.y {
    margin: 305px 0 0;
}
.yy {
    margin: 114px 0 0 2px;
}
.yyy {
    margin: 48px 0 0 2px;
}
.btnVip:hover {
    background-color: #00ccff;
    border: 4px solid #00ccff;
    color: white;
    cursor: pointer;
    font-family: conRegular;
    font-size: 36px;
}
.inlineBlockI {
    display: inline-table;
    padding: 0 5px;
}
.inlineTable {
    display: inline-table;
}
.verMiddle {
    vertical-align: middle;
}
.inline {
    display: inline;
}
.botText {
    color: white;
    font-family: conRegular;
    font-size: 36px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    width: 320px;
}
.dopUsl {
    color: white;
    font-family: conRegular;
    font-size: 27pt;
    margin: 20px 0 146px 8px;
    text-align: left;
}
.btnSuper {
    background: none repeat scroll 0 0 #00ccff;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-family: conRegular;
    font-size: 36px;
    margin: 0 auto;
    padding: 17px;
    text-align: center;
    width: 329px;
    height: 25px;
}
.btnSuper2 {
    background: none repeat scroll 0 0 #00ccff;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-family: conRegular;
    font-size: 36px;
    height: 24px;
    margin: 14px auto;
    padding: 17px;
    text-align: center;
    width: 297px;
}
.wMitty {
    margin: 0 0 0 50px;
    width: 200px;
}
.wMitty p {
    color: white;
    font-family: conRegular;
    font-size: 16px;
    margin: 0 0 4px 5px;
    padding: 0;
    text-align: left;
}
.wMitty header {
    font-family: conMedium;
    font-size: 18px;
    margin: 0 0 7px -1px;
    width: 148px;
}
.wMitty footer {
    font-family: conRegular;
    font-size: 36px;
    margin: 11px 0 -9px;
}
.textTwoGive {
    color: #000000;
    font-family: conMedium;
    font-size: 22px;
    line-height: 45px;
    margin: -20px 0 0;
    text-align: center;
    vertical-align: middle;
}
.textOneGive {
    color: #000000;
    font-family: conMedium;
    font-size: 22px;
    line-height: 45px;
    margin: 80px 0 0;
    text-align: center;
    vertical-align: middle;
}
.textOneGive3 {
    color: #000000;
    font-family: conMedium;
    font-size: 22px;
    line-height: 45px;
    margin: 80px 0 0;
    text-align: center;
    vertical-align: middle;
}

.ASD {
    margin: 22px 20px 0 0;
}
.certLeftAbout {
    float: left;
    margin: 16px -20px 0 40px;
    padding: 0;
}
.certRightAbout {
    float: right;
    margin: 7px 2px 0 0px;
    padding: 0;
}
.textSec > section {
    margin: 21px 0 24px 20px; 
    font-family: conMedium;
    font-size: 18px;
}
.textSec {
    border: 3px solid black;
    width: 612px;
    border-radius: 10px;
}
.textSec > section > section {
    display: initial;
    font-family: conRegular;
    font-size: 18px;
}
.aboutTextReg {
    font-family: conRegular !important;
}
.submitBtnJust {
    background: none repeat scroll 0 0 #393939;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    font-family: conRegular;
    font-size: 25px;
    margin: 0 auto 5px;
    padding: 4px;
    width: 270px;
}
.leftJust {
    margin-top: 115px;
    text-align: right;
}
.size15 {
    font-size: 15pt;
}
.size40 {
    font-size: 40pt;
}
.adressContacts {
    background: url("../img/14contacts/bg.png") repeat scroll 0 0 #ebedef;
    color: #22242b;
    font-family: conRegular;
    font-size: 42px;
    height: 150px;
    margin-top: 16px;
    padding-left: 20%;
    text-align: left;
}
.textZakaz {
    font-family: conMedium;
    font-size: 60px;
    margin: 86px 0 0 50px;
    text-align: right;
    width: 440px;
}
.textZakaz h1
{
    font-size: 60px;
}
.ssylkaZakaz, .ssylkaZakaz:hover {
    border-bottom: 1px dashed #af0116;
    color: #af0116;
    font-family: conMedium;
    font-size: 18px;
    text-decoration: none;
    vertical-align: middle;
}
.size35 {
    font-size: 35pt;
}
.ssylkaZakaz2 {
    border-bottom: 1px dashed #af0116;
    color: #af0116;
    cursor: pointer;
    font-family: conMedium;
    font-size: 26px;
    letter-spacing: -1px;
    margin: 42px -84px 0 57px;
    vertical-align: middle;
}
.textAlignCenter > .ssylkaZakaz {
    margin: 20px 0 0;
}
.fontComLight {
    font-family: comLight;
}
.fontConRegular {
    font-family: conRegular;
}
.fontConMedium {
    font-family: conMedium;
}
.fontComMedium {
    font-family: comMedium;
}
.fontComRegular {
    font-family: comRegular;
}
.howget {
    color: #393939;
    font-size: 30px;
}
.cGray {
    color: #393939;
}
.size50 {
    font-size: 50pt;
}
.ragon {
    font-size: 24px;
    letter-spacing: -1px;
}
.ragon span {
    font-family: conMedium;
}
.my_input {
    border: 2px solid #fff;
    margin: 0 auto 10px;
    padding: 0 3px;
}
.my_input input {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    color: #fff;
    font-family: conRegular;
    font-size: 16px;
}
.my_input input::-webkit-input-placeholder {
    color: #fff;
}
.my_input input::-moz-placeholder {
    color: #fff;
}
.my_input input:-moz-placeholder {
    color: #fff;
}
.contactsTitle {
    font-family: comMedium;
    font-size: 60px;
}
.bgAllTitles3 .textTitle2 {
    font-family: comMedium;
    font-size: 60px;
}
strong {
    font-family: conMedium;
    font-weight: 400;
}
.adressContacts h3 {
    color: #22242b;
    font-family: conRegular;
    font-size: 42px;
    padding: 39px 0 0;
    margin: -17px 0 0 -34px;
}
.inputCenterStyle > img 
{
    margin-left: -13px;
}
.fixed {
    position: fixed;
    height: 48px;
    padding: 0;
    margin: 0px 0 0;
    width: 940px;
    top: 0px;
    z-index: 999;
}
.menuText a
{
    margin-left: 5px;
}